*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

::-webkit-scrollbar{
  display: none;
}

/* Portfolio Body */
body {
  padding-top: 50px;
}
.gradient-custom {
    /* fallback for old browsers /
    background: #6a11cb;
    
    / Chrome 10-25, Safari 5.1-6 /
    background: -webkit-linear-gradient(to right, rgba(186, 205, 146, 1), rgba(117, 164, 127, 1));
    
    / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(186, 205, 146, 1), rgba(117, 164, 127, 1));
  }
  
  /* Nav bar */
  .navbar-brand {
    width: 70px;
    height: 70px;
  }
  .nav-item {
    transition: all .5s;
    &:hover {
      transform: scale(1.2);
      text-decoration: underline;
    }
  }

  /* Main section detailing */
  main{
    background-image: black;
  }
  section {
    scroll-margin-top: 4rem;
  }
  section:nth-child(even){
    background-image: linear-gradient(to right, #3B683A, #D4E7C5);
  }
  section:nth-child(odd){
    background-image: linear-gradient(to left, #3B683A, #D4E7C5);
  }
  h3 {
    padding-top: 2%;
}
.sectHeader {
  color: #3B683A;
} 

/* Home text section */
.header-image {
  width: 17rem;
  border-radius: 50px;
  animation: slideLeft 1s ease-in forwards; 
  opacity: 0;
  animation-delay: 1s;
}
.home-text {
  animation: slideRight 1s ease forwards;
  opacity: 0;
  animation-delay: 1s;
}
.text-color {
  background: linear-gradient(to bottom, black , #3B683A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-size: 3rem;
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* About Section -
About Text Information */
.about-card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background-color: rgba(186, 205, 146, 1);
    padding: 10px;
  }
  .about-image {
    width: 350px;
    border-radius: 100%;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  .typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid gray;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 10px;
    animation: typing 5s steps(80, end), blink-caret .5s step-end infinite;
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent }
  }

  /* Resume Section */
.resumePic {
    width: 15rem;
    padding-bottom: 2rem;
  }
  .accordion{
    width: 450px;
  }
  
  /* Skills Section */
  .saInfo {
    border-radius: 10px;
    border: none;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background-color: rgba(186, 205, 146, 1);
    padding: 10px;
  }
  .techLevel {
    border-radius: 10px;
    border: none;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background-color: rgba(186, 205, 146, 1);
    padding: 20px;
    font-size: 21px;
  }
  .techImage {
    width: 5rem;
    border-radius: 10%;
  }
  .resume {
    height: 120vh;
    justify-content: center;
  }
  
  /* Testimonial Section */
  .test {
    border-radius: 10px;
    border: none;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background-color: rgba(186, 205, 146, 1);
    padding: 10px;
  }
  .testImage {
    width: 10rem;
    border-radius: 100%;
    padding-bottom: 10%;
  }
  .testimonial-content{
    margin-top: 4rem;
  }
  
  /* Carousel for projects section */
  #captions {
    width: 50vw;
    height: 100%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner {
    width: 60%;
  }
  .card {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: none;
    transition: filter 0.5s ease;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    background-color: rgba(186, 205, 146, 1);
  }
  .card img {
    width: 100%;
    height: 20em;
    object-fit: contain;
    border-radius: inherit;
  }
  .card:hover img {
    filter: grayscale(0);
  }
  .card .name {
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }
  .card .role {
    font-size: 1.2em;
    margin: 0;
    text-align: center;
  }
  .card .work-at {
    font-size: 1em;
    text-align: center;
  }
  i.fa-arrow-right,
  i.fa-arrow-left {
    background: #3B683A;
    padding: 10px;
    border-radius: 100%;
  }
  .carousel-indicators [data-bs-target] {
    background-color: #3B683A;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: opacity, width .6s ease;
  }
  .carousel-indicators .active {
    opacity: 1;
    width: 20px;
  }
  @media screen and (max-width: 900px){
    #captions {
      width: 70vw;
      height: 70vh;
    }
    #captions::before {
      background: linear-gradient(90deg, #3B683A 60%, black 100%);
    }
    #captions::after {
      background: linear-gradient(-90deg, #3B683A 60%, black 100%);
    }
    .card img {
      width: 100%;
      height: 10em;
    }
    .card .name {
      margin-top: 1em;
      font-size: 1em;
      font-weight: 700;
    }
    .card .role {
      font-size: 0.8em;
    }
    .card .work-at {
      font-size: 0.6em;
    }
  }
  
  /* Contact Section Design */
  .form {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    background-color: #4b644a;
    border-radius: 20px;
  }
  .form-heading {
    text-align: center;
    margin: 2em;
    color: #D4E7C5;
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
  }
  .form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: black;
    background-color: whitesmoke;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: black;
    padding-inline: 1em;
  }
  .message-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #D4E7C5;
    font-weight: bold;
    outline: 1px solid #D4E7C5;
    transition: all ease-in-out 0.3s;
  }
  .message-btn:hover {
    transition: all ease-in-out 0.3s;
    background-color: #D4E7C5;
    color: #000;
    cursor: pointer;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  .form-card1 {
    background-image: linear-gradient(163deg, #D4E7C5 0%, #D4E7C5 100%);
    border-radius: 22px;
    transition: all 0.3s;
  }
  .form-card1:hover {
    box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
  }
  .form-card2 {
    border-radius: 0;
    transition: all 0.2s;
  }
  .form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  .contDetails {
    padding: 20px;
    color: #3B683A;
  }
  .mail{
    text-decoration: none;
    color: black;
  }